@use "../base";

.container {
    background: green;

    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    @include base.large {
        max-width: base.$controls-max-width;
    }
}

.number_pad {
    display: flex;
    height: base.$controls-max-width / 3;
    width: 100%;

    @include base.large {
        @include base.grid3x3;
        width: base.$controls-max-width;
        height: base.$controls-max-width;
    }
}

.button {
    background: inherit;
    border: none;
    cursor: pointer;
}
