@use "../base";

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;

    @include base.large {
        max-width: base.$controls-max-width;
    }
}

.container_hidden {
    opacity: 0;
    transform: translateY(-100%);

    @include base.large {
        transform: translateX(-100%);
    }
}

.number_pad {
    background: base.$color-grid;
    border: 1px solid base.$color-grid;
    display: flex;
    width: 100%;
    margin-bottom: 0.15em;

    @include base.large {
        @include base.grid3x3;
        width: base.$controls-max-width;
        height: base.$controls-max-width;
        margin-bottom: 0.25em;
    }
}

.other {
    border: 1px solid base.$color-grid;
    display: flex;
    font-size: 1.1rem;

    @include base.large {
        font-size: 1.25rem;
    }
}

.button {
    background: base.$bg-grid;
    border: 1px solid base.$color-grid;
    cursor: pointer;
    font-size: 1em;
    flex: 1 1 100%;
    min-height: 1em;
    padding: 0.4em;

    @include base.large {
        padding: 0.5em;
    }
}

.button_desc {
    & svg {
        width: 1.4em;
        height: auto;
    }

    & div {
        font-size: 0.5em;
    }
}

.notes_button {
    position: relative;
}

.notes_button_indicator {
    font-size: 0.5em;
    position: absolute;
    border: 1px solid red;
    color: red;
    height: 1.5em;
    width: 2.5em;
    top: 5%;
    left: 65%;
}

.notes_button_indicator_on {
    border-color: green;
    color: green;
}
