@use "../base";

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;

    @include base.large {
        max-width: base.$controls-max-width;
    }
}

.number_pad {
    background: base.$color-grid;
    border: 1px solid base.$color-grid;
    display: flex;
    width: 100%;

    @include base.large {
        @include base.grid3x3;
        width: base.$controls-max-width;
        height: base.$controls-max-width;
        margin-bottom: 0.25em;
    }
}

.other {
    border: 1px solid base.$color-grid;
    display: flex;
    font-size: 1.1rem;

    @include base.large {
        font-size: 1.25rem;
    }
}

.button {
    background: base.$bg-grid;
    border: 1px solid base.$color-grid;
    cursor: pointer;
    font-size: 1em;
    flex: 1 1 100%;
    min-height: 1em;
    padding: 0.4em;

    @include base.large {
        padding: 0.5em;
    }
}
