@use "../base";

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;

    @include base.large {
        max-width: base.$controls-max-width;
    }
}

.number_pad {
    display: flex;
    width: 100%;

    @include base.large {
        @include base.grid3x3;
        width: base.$controls-max-width;
        height: base.$controls-max-width;
    }
}

.other {
    display: flex;

    @include base.large {
        font-size: 1.25rem;
    }
}

.button {
    background: inherit;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
    flex: 1 1 100%;
    margin: 0.25em;
    padding: 0.5em;
}
