@use "../base";

.container {
    position: relative;

    max-height: base.$grid-max-width;
    max-width: base.$grid-max-width;
    width: 100%;
    padding-top: Min(100%, base.$grid-max-width);
    margin-bottom: base.$grid-margin-bottom;

    @include base.large {
        margin-bottom: 0;
        margin-right: base.$grid-margin-right;
    }
}

.grid {
    @include base.grid3x3;

    background: base.$color-grid;
    border: 1px solid base.$color-grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.square {
    @include base.grid3x3;
    border: 1px solid base.$color-grid;
}

.victory_banner {
    background: rgba(white, 0.95);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
    padding: 2em;
    position: absolute;
    z-index: 1000;
    top: 33%;
    animation: 1000ms slidein;

    & h2 {
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }

    & p {
        font-size: 1.2em;
        margin: 0;
    }

    @include base.large {
        & h2 {
            font-size: 2em;
        }

        &p {
            font-size: 1.5em;
        }
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
