// Colors
$color-grid: black;
$bg-grid: white;

$color-cell-locked: black;
$color-cell-unlocked: #555;
$bg-cell-same-house: #bbb;
$bg-cell-same-value: #bbb;
$bg-cell-selected: cyan;

$grid-max-width: 500px;
