@use "variables";
@use "mixins";

.cell {
    background: variables.$bg-grid;
    border: 1px solid variables.$color-grid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
}

.notes {
    @include mixins.grid3x3;
}

.value {
    height: 75%;
    fill: variables.$color-cell-unlocked;
    width: auto;
}

.locked {
    fill: variables.$color-cell-locked;
}

.same_value {
    background: variables.$bg-cell-same-value;
}

.same_house {
    background: variables.$bg-cell-same-house;
}

.selected {
    background: variables.$bg-cell-selected;
}

.note {
    height: 100%;
    width: 100%;
}
