@use "variables";
@use "mixins";

.container {
    height: 100%;
    width: 100%;
}

.grid__container {
    position: relative;
    max-height: variables.$grid-max-width;
    max-width: variables.$grid-max-width;
    width: 100%;
    padding-top: Min(100%, variables.$grid-max-width);
}

.grid {
    @include mixins.grid3x3;

    background: variables.$color-grid;
    border: 2px solid variables.$color-grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.square {
    @include mixins.grid3x3;
    border: 2px solid variables.$color-grid;
}
