// VARIABLES

// Colors
$color-grid: black;
$bg-grid: white;

$color-cell-locked: black;
$color-cell-unlocked: #555;
$bg-cell-same-house: #bbb;
$bg-cell-same-value: #bbb;
$bg-cell-selected: cyan;

// Other
$grid-max-width: 500px;

// MIXINS

@mixin grid3x3 {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
