// VARIABLES

// Colors
$color-grid: black;
$bg-grid: white;

$color-cell-locked: black;
$color-cell-unlocked: #555;
$bg-cell-same-house: #bbb;
$bg-cell-same-value: #bbb;
$bg-cell-selected: cyan;

// Other
$game-padding: 1em;
$game-max-width: 700px;
$grid-max-width: 31em;
$grid-margin-right: 2em;
$controls-max-width: 12em;
$media-breakpoint: $grid-max-width + $grid-margin-right + $controls-max-width +
    2 * $game-padding;

// MIXINS

@mixin grid3x3 {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

@mixin large {
    @media (min-width: $media-breakpoint) {
        @content;
    }
}

* {
    box-sizing: inherit;
    font: inherit;
}
