.sudoku__number_pad {
    display: flex;
}

.sudoku__number_pad > * {
    flex: 1 1 100%;
}

@media screen and (min-width: 768px) {
    .sudoku__number_pad {
        display: grid;
        grid-template-columns: var(--sudoku-rows);
        grid-template-rows: var(--sudoku-rows);
        gap: 5px;
    }

    .sudoku__number_pad > * {
        padding: 20%;
    }
}
