.sudoku__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 28px;
}

.sudoku__container,
.sudoku__container * {
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .sudoku__container {
        display: grid;
        grid-template-columns: var(--sudoku-max-width) auto;
        padding-top: 48px;
    }
}
